body{
    background-color: aqua;
}

form{
    border: 5px solid green;
    padding: 10px;
}

label{
    color: green;
    font-size: 20px;
    font-weight: 500;
}

input{
    width: 250px;
    background-color: turquoise;
    color: black;

}

#checkbox{
    width: 20px;
    height: 20px;
}

#youtube_chanel{
    width: 20px;
    height: 20px;
}

.errorlist {
    color:blueviolet;
    list-style-type: none;
    font-weight: 500px;
    font-size: 15px;
}

textarea{
    background-color: turquoise;
}