{% extends 'common_code/base.html' %}
{% load static %} 
{% block title %} Review {% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/review.css' %}">
    {% endblock css %}

    {% block img %}

    <img src="{% static 'images/13.jpg' %}" alt=" ">
    
    {% endblock img %}
{% block content %}


<h2>This is studentd information below</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Roll</th>
    <th>City</th>
  </tr>

  <tr>
    <td>Mukul Hossen</td>
    <td>12</td>
    <td>Natore</td>
  
  </tr>
  <tr>
    <td>Taif</td>
    <td>15</td>
    <td>pabna</td>

  </tr>
</table>


<h2>This is Review Page</h2>





{% endblock content %}






